nav {
    background-color: #cc5500; /* Burnt Orange */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 1.5rem 1rem;
    
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
  }
  
  nav ul li {
    display: inline;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  nav ul li a:hover,
  nav ul li a.active {
    background-color: white;
    color: #cc5500;
    border-radius: 5px;
  }
  